@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C700%3B1%2C400%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B1%2C400%3B1%2C500&display=swap");

.plasmic_tokens {
  --token-zKE-PI-BaXmMSp: #ffffff;
  --plasmic-token-white: var(--token-zKE-PI-BaXmMSp);
  --token-M7Mc2GqFkPPHfC: #e5aa43;
  --plasmic-token-gold: var(--token-M7Mc2GqFkPPHfC);
  --token-XkjijH00Z1Wsgw: 1px;
  --plasmic-token-padd-menu: var(--token-XkjijH00Z1Wsgw);
}

.plasmic_default_styles {
  --mixin-59PAquwSXr33r_font-family: "Inter";
  --mixin-59PAquwSXr33r_font-size: 16px;
  --mixin-59PAquwSXr33r_font-weight: 400;
  --mixin-59PAquwSXr33r_font-style: normal;
  --mixin-59PAquwSXr33r_color: #535353;
  --mixin-59PAquwSXr33r_text-align: left;
  --mixin-59PAquwSXr33r_text-transform: none;
  --mixin-59PAquwSXr33r_line-height: 1.5;
  --mixin-59PAquwSXr33r_letter-spacing: normal;
  --mixin-59PAquwSXr33r_white-space: pre-wrap;
  --mixin-59PAquwSXr33r_user-select: text;
  --mixin-59PAquwSXr33r_text-decoration-line: none;
  --mixin-59PAquwSXr33r_text-overflow: clip;
  --mixin-q4NeCBURFw5J3_color: var(--token-zKE-PI-BaXmMSp);
  --mixin-q4NeCBURFw5J3_font-weight: 400;
  --mixin-q4NeCBURFw5J3_font-size: 52px;
  --mixin-q4NeCBURFw5J3_line-height: 1;
  --mixin-q4NeCBURFw5J3_letter-spacing: 0px;
  --mixin-q4NeCBURFw5J3_font-family: "Merriweather";
  --mixin-r8Refc_UWp353_color: #000000;
  --mixin-r8Refc_UWp353_font-weight: 500;
  --mixin-r8Refc_UWp353_font-size: 36px;
  --mixin-r8Refc_UWp353_line-height: 1.1;
  --mixin-r8Refc_UWp353_letter-spacing: 0px;
  --mixin-r8Refc_UWp353_font-family: "Merriweather";
  --mixin-PE8xCWCD10cJs_color: var(--token-M7Mc2GqFkPPHfC);
  --mixin-aUJSNcWTVk5yK_color: #000000;
  --mixin-aUJSNcWTVk5yK_font-weight: 500;
  --mixin-aUJSNcWTVk5yK_font-size: 23px;
  --mixin-aUJSNcWTVk5yK_line-height: 1.2;
  --mixin-aUJSNcWTVk5yK_letter-spacing: 0px;
  --mixin-a19k7cWfCh3jB_color: #000000;
  --mixin-a19k7cWfCh3jB_font-weight: 600;
  --mixin-a19k7cWfCh3jB_font-size: 24px;
  --mixin-a19k7cWfCh3jB_line-height: 1.3;
  --mixin-a19k7cWfCh3jB_letter-spacing: -0.5px;
  --mixin-ox_j7VnyClcLk_font-family: "Inconsolata";
  --mixin-ox_j7VnyClcLk_padding-top: 1px;
  --mixin-ox_j7VnyClcLk_padding-right: 4px;
  --mixin-ox_j7VnyClcLk_padding-bottom: 1px;
  --mixin-ox_j7VnyClcLk_padding-left: 4px;
  --mixin-ox_j7VnyClcLk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ox_j7VnyClcLk_border-top-color: #dddddd;
  --mixin-ox_j7VnyClcLk_border-top-width: 1px;
  --mixin-ox_j7VnyClcLk_border-top-style: solid;
  --mixin-ox_j7VnyClcLk_border-right-color: #dddddd;
  --mixin-ox_j7VnyClcLk_border-right-width: 1px;
  --mixin-ox_j7VnyClcLk_border-right-style: solid;
  --mixin-ox_j7VnyClcLk_border-bottom-color: #dddddd;
  --mixin-ox_j7VnyClcLk_border-bottom-width: 1px;
  --mixin-ox_j7VnyClcLk_border-bottom-style: solid;
  --mixin-ox_j7VnyClcLk_border-left-color: #dddddd;
  --mixin-ox_j7VnyClcLk_border-left-width: 1px;
  --mixin-ox_j7VnyClcLk_border-left-style: solid;
  --mixin-ox_j7VnyClcLk_border-top-left-radius: 3px;
  --mixin-ox_j7VnyClcLk_border-top-right-radius: 3px;
  --mixin-ox_j7VnyClcLk_border-bottom-right-radius: 3px;
  --mixin-ox_j7VnyClcLk_border-bottom-left-radius: 3px;
  --mixin-bEsn9DcXlV0Oz_color: #888888;
  --mixin-bEsn9DcXlV0Oz_padding-left: 10px;
  --mixin-bEsn9DcXlV0Oz_border-left-width: 3px;
  --mixin-bEsn9DcXlV0Oz_border-left-style: solid;
  --mixin-bEsn9DcXlV0Oz_border-left-color: #dddddd;
  --mixin-muD9nJFth8Htu_padding-top: 3px;
  --mixin-muD9nJFth8Htu_padding-right: 6px;
  --mixin-muD9nJFth8Htu_padding-bottom: 3px;
  --mixin-muD9nJFth8Htu_padding-left: 6px;
  --mixin-muD9nJFth8Htu_font-family: "Inconsolata";
  --mixin-muD9nJFth8Htu_border-top-left-radius: 3px;
  --mixin-muD9nJFth8Htu_border-top-right-radius: 3px;
  --mixin-muD9nJFth8Htu_border-bottom-right-radius: 3px;
  --mixin-muD9nJFth8Htu_border-bottom-left-radius: 3px;
  --mixin-muD9nJFth8Htu_border-top-color: #dddddd;
  --mixin-muD9nJFth8Htu_border-top-width: 1px;
  --mixin-muD9nJFth8Htu_border-top-style: solid;
  --mixin-muD9nJFth8Htu_border-right-color: #dddddd;
  --mixin-muD9nJFth8Htu_border-right-width: 1px;
  --mixin-muD9nJFth8Htu_border-right-style: solid;
  --mixin-muD9nJFth8Htu_border-bottom-color: #dddddd;
  --mixin-muD9nJFth8Htu_border-bottom-width: 1px;
  --mixin-muD9nJFth8Htu_border-bottom-style: solid;
  --mixin-muD9nJFth8Htu_border-left-color: #dddddd;
  --mixin-muD9nJFth8Htu_border-left-width: 1px;
  --mixin-muD9nJFth8Htu_border-left-style: solid;
  --mixin-muD9nJFth8Htu_background: linear-gradient(#f8f8f8, #f8f8f8);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-59PAquwSXr33r_font-family);
  font-size: var(--mixin-59PAquwSXr33r_font-size);
  font-weight: var(--mixin-59PAquwSXr33r_font-weight);
  font-style: var(--mixin-59PAquwSXr33r_font-style);
  color: var(--mixin-59PAquwSXr33r_color);
  text-align: var(--mixin-59PAquwSXr33r_text-align);
  text-transform: var(--mixin-59PAquwSXr33r_text-transform);
  line-height: var(--mixin-59PAquwSXr33r_line-height);
  letter-spacing: var(--mixin-59PAquwSXr33r_letter-spacing);
  white-space: var(--mixin-59PAquwSXr33r_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-q4NeCBURFw5J3_color);
  font-weight: var(--mixin-q4NeCBURFw5J3_font-weight);
  font-size: var(--mixin-q4NeCBURFw5J3_font-size);
  line-height: var(--mixin-q4NeCBURFw5J3_line-height);
  letter-spacing: var(--mixin-q4NeCBURFw5J3_letter-spacing);
  font-family: var(--mixin-q4NeCBURFw5J3_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-r8Refc_UWp353_color);
  font-weight: var(--mixin-r8Refc_UWp353_font-weight);
  font-size: var(--mixin-r8Refc_UWp353_font-size);
  line-height: var(--mixin-r8Refc_UWp353_line-height);
  letter-spacing: var(--mixin-r8Refc_UWp353_letter-spacing);
  font-family: var(--mixin-r8Refc_UWp353_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-PE8xCWCD10cJs_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-aUJSNcWTVk5yK_color);
  font-weight: var(--mixin-aUJSNcWTVk5yK_font-weight);
  font-size: var(--mixin-aUJSNcWTVk5yK_font-size);
  line-height: var(--mixin-aUJSNcWTVk5yK_line-height);
  letter-spacing: var(--mixin-aUJSNcWTVk5yK_letter-spacing);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-a19k7cWfCh3jB_color);
  font-weight: var(--mixin-a19k7cWfCh3jB_font-weight);
  font-size: var(--mixin-a19k7cWfCh3jB_font-size);
  line-height: var(--mixin-a19k7cWfCh3jB_line-height);
  letter-spacing: var(--mixin-a19k7cWfCh3jB_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-ox_j7VnyClcLk_font-family);
  background: var(--mixin-ox_j7VnyClcLk_background);
  border-radius: var(--mixin-ox_j7VnyClcLk_border-top-left-radius)
    var(--mixin-ox_j7VnyClcLk_border-top-right-radius)
    var(--mixin-ox_j7VnyClcLk_border-bottom-right-radius)
    var(--mixin-ox_j7VnyClcLk_border-bottom-left-radius);
  padding: var(--mixin-ox_j7VnyClcLk_padding-top)
    var(--mixin-ox_j7VnyClcLk_padding-right)
    var(--mixin-ox_j7VnyClcLk_padding-bottom)
    var(--mixin-ox_j7VnyClcLk_padding-left);
  border-top: var(--mixin-ox_j7VnyClcLk_border-top-width)
    var(--mixin-ox_j7VnyClcLk_border-top-style)
    var(--mixin-ox_j7VnyClcLk_border-top-color);
  border-right: var(--mixin-ox_j7VnyClcLk_border-right-width)
    var(--mixin-ox_j7VnyClcLk_border-right-style)
    var(--mixin-ox_j7VnyClcLk_border-right-color);
  border-bottom: var(--mixin-ox_j7VnyClcLk_border-bottom-width)
    var(--mixin-ox_j7VnyClcLk_border-bottom-style)
    var(--mixin-ox_j7VnyClcLk_border-bottom-color);
  border-left: var(--mixin-ox_j7VnyClcLk_border-left-width)
    var(--mixin-ox_j7VnyClcLk_border-left-style)
    var(--mixin-ox_j7VnyClcLk_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-bEsn9DcXlV0Oz_color);
  padding-left: var(--mixin-bEsn9DcXlV0Oz_padding-left);
  border-left: var(--mixin-bEsn9DcXlV0Oz_border-left-width)
    var(--mixin-bEsn9DcXlV0Oz_border-left-style)
    var(--mixin-bEsn9DcXlV0Oz_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  font-family: var(--mixin-muD9nJFth8Htu_font-family);
  background: var(--mixin-muD9nJFth8Htu_background);
  border-radius: var(--mixin-muD9nJFth8Htu_border-top-left-radius)
    var(--mixin-muD9nJFth8Htu_border-top-right-radius)
    var(--mixin-muD9nJFth8Htu_border-bottom-right-radius)
    var(--mixin-muD9nJFth8Htu_border-bottom-left-radius);
  padding: var(--mixin-muD9nJFth8Htu_padding-top)
    var(--mixin-muD9nJFth8Htu_padding-right)
    var(--mixin-muD9nJFth8Htu_padding-bottom)
    var(--mixin-muD9nJFth8Htu_padding-left);
  border-top: var(--mixin-muD9nJFth8Htu_border-top-width)
    var(--mixin-muD9nJFth8Htu_border-top-style)
    var(--mixin-muD9nJFth8Htu_border-top-color);
  border-right: var(--mixin-muD9nJFth8Htu_border-right-width)
    var(--mixin-muD9nJFth8Htu_border-right-style)
    var(--mixin-muD9nJFth8Htu_border-right-color);
  border-bottom: var(--mixin-muD9nJFth8Htu_border-bottom-width)
    var(--mixin-muD9nJFth8Htu_border-bottom-style)
    var(--mixin-muD9nJFth8Htu_border-bottom-color);
  border-left: var(--mixin-muD9nJFth8Htu_border-left-width)
    var(--mixin-muD9nJFth8Htu_border-left-style)
    var(--mixin-muD9nJFth8Htu_border-left-color);
}
