.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox___1HNgx {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-nu3jd-FxPrA_q4);
  display: flex;
  min-width: 0;
}
.freeBox___1HNgx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___1HNgx > :global(.__wab_flex-container) > *,
.freeBox___1HNgx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1HNgx > :global(.__wab_flex-container) > picture > img,
.freeBox___1HNgx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__y87AJ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__y87AJ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__y87AJ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__y87AJ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__y87AJ > :global(.__wab_flex-container) > *,
.columns__y87AJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__y87AJ > :global(.__wab_flex-container) > picture > img,
.columns__y87AJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y87AJ {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y87AJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y87AJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y87AJ > :global(.__wab_flex-container) > *,
  .columns__y87AJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__y87AJ > :global(.__wab_flex-container) > picture > img,
  .columns__y87AJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__rB8If {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rB8If {
    width: 100%;
  }
}
.freeBox__vr4Ne {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__vr4Ne > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__vr4Ne > :global(.__wab_flex-container) > *,
.freeBox__vr4Ne > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vr4Ne > :global(.__wab_flex-container) > picture > img,
.freeBox__vr4Ne
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vr4Ne {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vr4Ne > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__xYk0B {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__ygCia {
  position: relative;
  text-align: left;
}
.bullet__hKyfd:global(.__wab_instance) {
  position: relative;
}
.bullet__tdT1Q:global(.__wab_instance) {
  position: relative;
}
.bullet__j4TFh:global(.__wab_instance) {
  position: relative;
}
.text___1UDz7 {
  position: relative;
  text-align: left;
}
.freeBox___1I02D {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___1I02D > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___1I02D > :global(.__wab_flex-container) > *,
.freeBox___1I02D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1I02D > :global(.__wab_flex-container) > picture > img,
.freeBox___1I02D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1I02D {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1I02D > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1I02D > :global(.__wab_flex-container) > *,
  .freeBox___1I02D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1I02D > :global(.__wab_flex-container) > picture > img,
  .freeBox___1I02D
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__wm8Pw:global(.__wab_instance) {
  position: relative;
}
.svg___2Gnut {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___35RVb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__djMOe:global(.__wab_instance) {
  position: relative;
}
.svg__lxqqU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7Vxqa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qchVl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qchVl {
    width: 100%;
  }
}
.img__p8Up {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__p8Up > picture > img {
  object-fit: cover;
}
.img__p8Up > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___0Fvp2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns___0Fvp2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___0Fvp2 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___0Fvp2 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___0Fvp2 > :global(.__wab_flex-container) > *,
.columns___0Fvp2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___0Fvp2 > :global(.__wab_flex-container) > picture > img,
.columns___0Fvp2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Fvp2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Fvp2 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Fvp2 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Fvp2 > :global(.__wab_flex-container) > *,
  .columns___0Fvp2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___0Fvp2 > :global(.__wab_flex-container) > picture > img,
  .columns___0Fvp2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__ehKe4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ehKe4 {
    width: 100%;
  }
}
.img__o9Aaj {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__o9Aaj > picture > img {
  object-fit: cover;
}
.img__o9Aaj > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__ssiWb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ssiWb {
    width: 100%;
  }
}
.freeBox__eIrjB {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__eIrjB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__eIrjB > :global(.__wab_flex-container) > *,
.freeBox__eIrjB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eIrjB > :global(.__wab_flex-container) > picture > img,
.freeBox__eIrjB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eIrjB {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eIrjB > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__ohsz3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__d2Hg {
  position: relative;
  text-align: left;
}
.bullet__fMgY2:global(.__wab_instance) {
  position: relative;
}
.bullet__siZu6:global(.__wab_instance) {
  position: relative;
}
.bullet__kzxWx:global(.__wab_instance) {
  position: relative;
}
.text__vrC0D {
  position: relative;
  text-align: left;
}
.freeBox__jEzlD {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__jEzlD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__jEzlD > :global(.__wab_flex-container) > *,
.freeBox__jEzlD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jEzlD > :global(.__wab_flex-container) > picture > img,
.freeBox__jEzlD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jEzlD {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jEzlD > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jEzlD > :global(.__wab_flex-container) > *,
  .freeBox__jEzlD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jEzlD > :global(.__wab_flex-container) > picture > img,
  .freeBox__jEzlD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__rbvMi:global(.__wab_instance) {
  position: relative;
}
.svg__zNhnf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2GeCe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ufa1C:global(.__wab_instance) {
  position: relative;
}
.svg__vWYu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__r45VH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
