@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Cormorant+Infant%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-2G4EhNlZeooGmu: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-2G4EhNlZeooGmu);
  --token-4Uy0Qwivt9bPVM: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-4Uy0Qwivt9bPVM);
  --token-_4oFbJMp59wlu-: #666666;
  --plasmic-token-text: var(--token-_4oFbJMp59wlu-);
  --token-nu3jd-FxPrA_q4: 1104px;
  --plasmic-token-max-content-width: var(--token-nu3jd-FxPrA_q4);
}

.plasmic_default_styles {
  --mixin-MurO0OLFZQnDgN_font-family: "Inter";
  --mixin-MurO0OLFZQnDgN_font-size: 18px;
  --mixin-MurO0OLFZQnDgN_font-weight: 400;
  --mixin-MurO0OLFZQnDgN_font-style: normal;
  --mixin-MurO0OLFZQnDgN_color: var(--token-_4oFbJMp59wlu-);
  --mixin-MurO0OLFZQnDgN_text-align: left;
  --mixin-MurO0OLFZQnDgN_text-transform: none;
  --mixin-MurO0OLFZQnDgN_line-height: 1.5;
  --mixin-MurO0OLFZQnDgN_letter-spacing: normal;
  --mixin-MurO0OLFZQnDgN_white-space: pre-wrap;
  --mixin-MurO0OLFZQnDgN_user-select: text;
  --mixin-MurO0OLFZQnDgN_text-decoration-line: none;
  --mixin-MurO0OLFZQnDgN_text-overflow: clip;
  --mixin-0--AVjobBcb8U-_font-family: "Inter";
  --mixin-0--AVjobBcb8U-_color: #000000;
  --mixin-0--AVjobBcb8U-_font-size: 72px;
  --mixin-0--AVjobBcb8U-_font-weight: 900;
  --mixin-0--AVjobBcb8U-_letter-spacing: -4px;
  --mixin-0--AVjobBcb8U-_line-height: 1;
  --mixin-S_cwHzG-jYjkAK_font-family: "Inter";
  --mixin-S_cwHzG-jYjkAK_color: #000000;
  --mixin-S_cwHzG-jYjkAK_font-size: 48px;
  --mixin-S_cwHzG-jYjkAK_font-weight: 700;
  --mixin-S_cwHzG-jYjkAK_letter-spacing: -1px;
  --mixin-S_cwHzG-jYjkAK_line-height: 1.1;
  --mixin-OONZS4ucl5BPKw_font-family: "Inter";
  --mixin-OONZS4ucl5BPKw_color: #000000;
  --mixin-OONZS4ucl5BPKw_font-size: 32px;
  --mixin-OONZS4ucl5BPKw_font-weight: 600;
  --mixin-OONZS4ucl5BPKw_letter-spacing: -0.8px;
  --mixin-OONZS4ucl5BPKw_line-height: 1.2;
  --mixin-Kj2taPIkvq8IeR_font-family: "Inter";
  --mixin-Kj2taPIkvq8IeR_color: #000000;
  --mixin-Kj2taPIkvq8IeR_font-size: 24px;
  --mixin-Kj2taPIkvq8IeR_font-weight: 600;
  --mixin-Kj2taPIkvq8IeR_letter-spacing: -0.5px;
  --mixin-Kj2taPIkvq8IeR_line-height: 1.3;
  --mixin-LWQtKGnsg-TB-q_font-family: "Inter";
  --mixin-LWQtKGnsg-TB-q_color: #000000;
  --mixin-LWQtKGnsg-TB-q_font-size: 20px;
  --mixin-LWQtKGnsg-TB-q_font-weight: 600;
  --mixin-LWQtKGnsg-TB-q_letter-spacing: -0.3px;
  --mixin-LWQtKGnsg-TB-q_line-height: 1.5;
  --mixin-5uEJKL6TCmJHdk_font-family: "Inter";
  --mixin-5uEJKL6TCmJHdk_color: #000000;
  --mixin-5uEJKL6TCmJHdk_font-size: 16px;
  --mixin-5uEJKL6TCmJHdk_font-weight: 600;
  --mixin-5uEJKL6TCmJHdk_line-height: 1.5;
  --mixin-7_9gmRDKkNa4zQ_border-left-color: #dddddd;
  --mixin-7_9gmRDKkNa4zQ_border-left-style: solid;
  --mixin-7_9gmRDKkNa4zQ_border-left-width: 3px;
  --mixin-7_9gmRDKkNa4zQ_color: #888888;
  --mixin-7_9gmRDKkNa4zQ_padding-left: 10px;
  --mixin-DnFfOIlnjoZhLI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DnFfOIlnjoZhLI_border-bottom-color: #dddddd;
  --mixin-DnFfOIlnjoZhLI_border-bottom-style: solid;
  --mixin-DnFfOIlnjoZhLI_border-bottom-width: 1px;
  --mixin-DnFfOIlnjoZhLI_border-left-color: #dddddd;
  --mixin-DnFfOIlnjoZhLI_border-left-style: solid;
  --mixin-DnFfOIlnjoZhLI_border-left-width: 1px;
  --mixin-DnFfOIlnjoZhLI_border-right-color: #dddddd;
  --mixin-DnFfOIlnjoZhLI_border-right-style: solid;
  --mixin-DnFfOIlnjoZhLI_border-right-width: 1px;
  --mixin-DnFfOIlnjoZhLI_border-top-color: #dddddd;
  --mixin-DnFfOIlnjoZhLI_border-top-style: solid;
  --mixin-DnFfOIlnjoZhLI_border-top-width: 1px;
  --mixin-DnFfOIlnjoZhLI_border-bottom-left-radius: 3px;
  --mixin-DnFfOIlnjoZhLI_border-bottom-right-radius: 3px;
  --mixin-DnFfOIlnjoZhLI_border-top-left-radius: 3px;
  --mixin-DnFfOIlnjoZhLI_border-top-right-radius: 3px;
  --mixin-DnFfOIlnjoZhLI_font-family: "Inconsolata";
  --mixin-DnFfOIlnjoZhLI_padding-bottom: 1px;
  --mixin-DnFfOIlnjoZhLI_padding-left: 4px;
  --mixin-DnFfOIlnjoZhLI_padding-right: 4px;
  --mixin-DnFfOIlnjoZhLI_padding-top: 1px;
  --mixin-SvU9mRrYLej5Ak_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-SvU9mRrYLej5Ak_border-bottom-color: #dddddd;
  --mixin-SvU9mRrYLej5Ak_border-bottom-style: solid;
  --mixin-SvU9mRrYLej5Ak_border-bottom-width: 1px;
  --mixin-SvU9mRrYLej5Ak_border-left-color: #dddddd;
  --mixin-SvU9mRrYLej5Ak_border-left-style: solid;
  --mixin-SvU9mRrYLej5Ak_border-left-width: 1px;
  --mixin-SvU9mRrYLej5Ak_border-right-color: #dddddd;
  --mixin-SvU9mRrYLej5Ak_border-right-style: solid;
  --mixin-SvU9mRrYLej5Ak_border-right-width: 1px;
  --mixin-SvU9mRrYLej5Ak_border-top-color: #dddddd;
  --mixin-SvU9mRrYLej5Ak_border-top-style: solid;
  --mixin-SvU9mRrYLej5Ak_border-top-width: 1px;
  --mixin-SvU9mRrYLej5Ak_border-bottom-left-radius: 3px;
  --mixin-SvU9mRrYLej5Ak_border-bottom-right-radius: 3px;
  --mixin-SvU9mRrYLej5Ak_border-top-left-radius: 3px;
  --mixin-SvU9mRrYLej5Ak_border-top-right-radius: 3px;
  --mixin-SvU9mRrYLej5Ak_font-family: "Inconsolata";
  --mixin-SvU9mRrYLej5Ak_padding-bottom: 3px;
  --mixin-SvU9mRrYLej5Ak_padding-left: 6px;
  --mixin-SvU9mRrYLej5Ak_padding-right: 6px;
  --mixin-SvU9mRrYLej5Ak_padding-top: 3px;
  --mixin-YAkLVE2p7gvE-p_display: flex;
  --mixin-YAkLVE2p7gvE-p_flex-direction: column;
  --mixin-YAkLVE2p7gvE-p_align-items: stretch;
  --mixin-YAkLVE2p7gvE-p_justify-content: flex-start;
  --mixin-YAkLVE2p7gvE-p_list-style-position: outside;
  --mixin-YAkLVE2p7gvE-p_padding-left: 40px;
  --mixin-YAkLVE2p7gvE-p_position: relative;
  --mixin-YAkLVE2p7gvE-p_list-style-type: decimal;
  --mixin-jnRt8Q0zfs7Od4_display: flex;
  --mixin-jnRt8Q0zfs7Od4_flex-direction: column;
  --mixin-jnRt8Q0zfs7Od4_align-items: stretch;
  --mixin-jnRt8Q0zfs7Od4_justify-content: flex-start;
  --mixin-jnRt8Q0zfs7Od4_list-style-position: outside;
  --mixin-jnRt8Q0zfs7Od4_padding-left: 40px;
  --mixin-jnRt8Q0zfs7Od4_position: relative;
  --mixin-jnRt8Q0zfs7Od4_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-MurO0OLFZQnDgN_font-family);
  font-size: var(--mixin-MurO0OLFZQnDgN_font-size);
  font-weight: var(--mixin-MurO0OLFZQnDgN_font-weight);
  font-style: var(--mixin-MurO0OLFZQnDgN_font-style);
  color: var(--mixin-MurO0OLFZQnDgN_color);
  text-align: var(--mixin-MurO0OLFZQnDgN_text-align);
  text-transform: var(--mixin-MurO0OLFZQnDgN_text-transform);
  line-height: var(--mixin-MurO0OLFZQnDgN_line-height);
  letter-spacing: var(--mixin-MurO0OLFZQnDgN_letter-spacing);
  white-space: var(--mixin-MurO0OLFZQnDgN_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-0--AVjobBcb8U-_font-family);
  color: var(--mixin-0--AVjobBcb8U-_color);
  font-size: var(--mixin-0--AVjobBcb8U-_font-size);
  font-weight: var(--mixin-0--AVjobBcb8U-_font-weight);
  letter-spacing: var(--mixin-0--AVjobBcb8U-_letter-spacing);
  line-height: var(--mixin-0--AVjobBcb8U-_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-S_cwHzG-jYjkAK_font-family);
  color: var(--mixin-S_cwHzG-jYjkAK_color);
  font-size: var(--mixin-S_cwHzG-jYjkAK_font-size);
  font-weight: var(--mixin-S_cwHzG-jYjkAK_font-weight);
  letter-spacing: var(--mixin-S_cwHzG-jYjkAK_letter-spacing);
  line-height: var(--mixin-S_cwHzG-jYjkAK_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-OONZS4ucl5BPKw_font-family);
  color: var(--mixin-OONZS4ucl5BPKw_color);
  font-size: var(--mixin-OONZS4ucl5BPKw_font-size);
  font-weight: var(--mixin-OONZS4ucl5BPKw_font-weight);
  letter-spacing: var(--mixin-OONZS4ucl5BPKw_letter-spacing);
  line-height: var(--mixin-OONZS4ucl5BPKw_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-Kj2taPIkvq8IeR_font-family);
  color: var(--mixin-Kj2taPIkvq8IeR_color);
  font-size: var(--mixin-Kj2taPIkvq8IeR_font-size);
  font-weight: var(--mixin-Kj2taPIkvq8IeR_font-weight);
  letter-spacing: var(--mixin-Kj2taPIkvq8IeR_letter-spacing);
  line-height: var(--mixin-Kj2taPIkvq8IeR_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-LWQtKGnsg-TB-q_font-family);
  color: var(--mixin-LWQtKGnsg-TB-q_color);
  font-size: var(--mixin-LWQtKGnsg-TB-q_font-size);
  font-weight: var(--mixin-LWQtKGnsg-TB-q_font-weight);
  letter-spacing: var(--mixin-LWQtKGnsg-TB-q_letter-spacing);
  line-height: var(--mixin-LWQtKGnsg-TB-q_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-5uEJKL6TCmJHdk_font-family);
  color: var(--mixin-5uEJKL6TCmJHdk_color);
  font-size: var(--mixin-5uEJKL6TCmJHdk_font-size);
  font-weight: var(--mixin-5uEJKL6TCmJHdk_font-weight);
  line-height: var(--mixin-5uEJKL6TCmJHdk_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-7_9gmRDKkNa4zQ_color);
  padding-left: var(--mixin-7_9gmRDKkNa4zQ_padding-left);
  border-left: var(--mixin-7_9gmRDKkNa4zQ_border-left-width)
    var(--mixin-7_9gmRDKkNa4zQ_border-left-style)
    var(--mixin-7_9gmRDKkNa4zQ_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-DnFfOIlnjoZhLI_background);
  font-family: var(--mixin-DnFfOIlnjoZhLI_font-family);
  border-radius: var(--mixin-DnFfOIlnjoZhLI_border-top-left-radius)
    var(--mixin-DnFfOIlnjoZhLI_border-top-right-radius)
    var(--mixin-DnFfOIlnjoZhLI_border-bottom-right-radius)
    var(--mixin-DnFfOIlnjoZhLI_border-bottom-left-radius);
  padding: var(--mixin-DnFfOIlnjoZhLI_padding-top)
    var(--mixin-DnFfOIlnjoZhLI_padding-right)
    var(--mixin-DnFfOIlnjoZhLI_padding-bottom)
    var(--mixin-DnFfOIlnjoZhLI_padding-left);
  border-top: var(--mixin-DnFfOIlnjoZhLI_border-top-width)
    var(--mixin-DnFfOIlnjoZhLI_border-top-style)
    var(--mixin-DnFfOIlnjoZhLI_border-top-color);
  border-right: var(--mixin-DnFfOIlnjoZhLI_border-right-width)
    var(--mixin-DnFfOIlnjoZhLI_border-right-style)
    var(--mixin-DnFfOIlnjoZhLI_border-right-color);
  border-bottom: var(--mixin-DnFfOIlnjoZhLI_border-bottom-width)
    var(--mixin-DnFfOIlnjoZhLI_border-bottom-style)
    var(--mixin-DnFfOIlnjoZhLI_border-bottom-color);
  border-left: var(--mixin-DnFfOIlnjoZhLI_border-left-width)
    var(--mixin-DnFfOIlnjoZhLI_border-left-style)
    var(--mixin-DnFfOIlnjoZhLI_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-SvU9mRrYLej5Ak_background);
  font-family: var(--mixin-SvU9mRrYLej5Ak_font-family);
  border-radius: var(--mixin-SvU9mRrYLej5Ak_border-top-left-radius)
    var(--mixin-SvU9mRrYLej5Ak_border-top-right-radius)
    var(--mixin-SvU9mRrYLej5Ak_border-bottom-right-radius)
    var(--mixin-SvU9mRrYLej5Ak_border-bottom-left-radius);
  padding: var(--mixin-SvU9mRrYLej5Ak_padding-top)
    var(--mixin-SvU9mRrYLej5Ak_padding-right)
    var(--mixin-SvU9mRrYLej5Ak_padding-bottom)
    var(--mixin-SvU9mRrYLej5Ak_padding-left);
  border-top: var(--mixin-SvU9mRrYLej5Ak_border-top-width)
    var(--mixin-SvU9mRrYLej5Ak_border-top-style)
    var(--mixin-SvU9mRrYLej5Ak_border-top-color);
  border-right: var(--mixin-SvU9mRrYLej5Ak_border-right-width)
    var(--mixin-SvU9mRrYLej5Ak_border-right-style)
    var(--mixin-SvU9mRrYLej5Ak_border-right-color);
  border-bottom: var(--mixin-SvU9mRrYLej5Ak_border-bottom-width)
    var(--mixin-SvU9mRrYLej5Ak_border-bottom-style)
    var(--mixin-SvU9mRrYLej5Ak_border-bottom-color);
  border-left: var(--mixin-SvU9mRrYLej5Ak_border-left-width)
    var(--mixin-SvU9mRrYLej5Ak_border-left-style)
    var(--mixin-SvU9mRrYLej5Ak_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-YAkLVE2p7gvE-p_display);
  flex-direction: var(--mixin-YAkLVE2p7gvE-p_flex-direction);
  align-items: var(--mixin-YAkLVE2p7gvE-p_align-items);
  justify-content: var(--mixin-YAkLVE2p7gvE-p_justify-content);
  list-style-position: var(--mixin-YAkLVE2p7gvE-p_list-style-position);
  padding-left: var(--mixin-YAkLVE2p7gvE-p_padding-left);
  position: var(--mixin-YAkLVE2p7gvE-p_position);
  list-style-type: var(--mixin-YAkLVE2p7gvE-p_list-style-type);
  flex-column-gap: var(--mixin-YAkLVE2p7gvE-p_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-jnRt8Q0zfs7Od4_display);
  flex-direction: var(--mixin-jnRt8Q0zfs7Od4_flex-direction);
  align-items: var(--mixin-jnRt8Q0zfs7Od4_align-items);
  justify-content: var(--mixin-jnRt8Q0zfs7Od4_justify-content);
  list-style-position: var(--mixin-jnRt8Q0zfs7Od4_list-style-position);
  padding-left: var(--mixin-jnRt8Q0zfs7Od4_padding-left);
  position: var(--mixin-jnRt8Q0zfs7Od4_position);
  list-style-type: var(--mixin-jnRt8Q0zfs7Od4_list-style-type);
  flex-column-gap: var(--mixin-jnRt8Q0zfs7Od4_flex-column-gap);
}
