.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__pJ3U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__i7YcU {
  flex-direction: column;
  display: flex;
}
.freeBox__i7YcU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__i7YcU > :global(.__wab_flex-container) > *,
.freeBox__i7YcU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i7YcU > :global(.__wab_flex-container) > picture > img,
.freeBox__i7YcU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__okVCu {
  font-size: 48px;
}
.freeBox___0KadF {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___0KadF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0KadF > :global(.__wab_flex-container) > *,
.freeBox___0KadF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0KadF > :global(.__wab_flex-container) > picture > img,
.freeBox___0KadF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__w0NFy:global(.__wab_instance) {
  position: relative;
}
.bullet__h945I:global(.__wab_instance) {
  position: relative;
}
.bullet__eWmht:global(.__wab_instance) {
  position: relative;
}
.freeBox__dYExk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__pwQEi:global(.__wab_instance) {
  position: relative;
}
.svg__rwwy2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__by4Vt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3Xwc7 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
